
/* Creates black background */ 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383737;
}

/* lines the list elements up horizontally*/
nav li {
  float: left;
}

/*Creates padding around link*/
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*When mouse hovers on nav, turns gold*/
nav li a:hover {
  background-color: gold;
}
/*To make the bg grey*/
html {
  background-color: grey;}
h1{
  Text-align: Center;
}
h2{
  Text-align: Center;
}
h3{
  Text-align: Center;
}
h4{
  Text-align: Center;
}
h5{
  Text-align: center;
}
p{ text-align: center;}
