/* Creates black background */ 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d3d3d3;
}

/* lines the list elements up horizontally*/
nav li {
  float: left;
}

/*Creates padding around link*/
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: gold;
} 
}
html {
  background-color: grey;
}
